<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mind Reading App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Who is the person you're thinking of right now?</h1>
        <button onclick="document.getElementById('answer').style.display='block'">Find</button>
        <p id="answer" style="display:none;">Me 😁</p>
        <br>
        <a href="{{ url_for('questions') }}"><button>Start Psychological Test</button></a>
    </div>
</body>
</html>
